.body {
    background-color: #333;
    color: rgb(255, 244, 230);
    margin: 0;
    padding: 0;
}
@media (min-width:740px) {
    .playspace{
        display: grid;
        grid-template-rows: 55% 1fr;
        row-gap: 10px;
        background-color: rgb(173, 174, 175);
        border-radius: 10px;
        background-image: url(bg.png);
        background-size: 100px 100px;
        height: 97vh;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        padding: 50px;
        padding-left: 4%;
        padding-right: 4%;
        align-items: center;
        justify-content: space-between;
        
    }
    .rock {
        background-image: url(rock.png);  
        border-radius: 80px;
        height: 160px;
        width: 160px;
        cursor: pointer;
        transition: 0.15s;
    }
    .paper {
        background-image: url(paper.png);
        border-radius: 80px;
        height: 160px;
        width: 160px;
        cursor: pointer;
        transition: 0.15s;
    }
    .scissors {
        background-image: url(scissors.png);
        border-radius: 80px;
        height: 160px;
        width: 160px;
        cursor: pointer;
        transition: 0.15s;
    }
    .restart {
        background-image: url(restart.png);
        border-radius: 80px;
        background-size: 160px 160px;
        height: 160px;
        width: 160px;
        cursor: pointer;
        transition: 0.15s;
    }
    .rock:hover,.paper:hover,.scissors:hover,.restart:hover {
        opacity: 0.8;
        transform: scale(1.15);
    }
    .rock:active,.paper:active,.scissors:active,.restart:active {
        opacity: 0.9;
        transform: scale(0.85);
    }
    .score {
        background-color: rgb(185, 185, 185);
        display: grid;
        grid-template-rows: 50% 1fr;
        row-gap: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vs {
        
        display: flex;
        flex-direction: row;
        
        padding-left: 5px;
        padding-right: 5px;
    }
    .computer,.player {
        display: grid;
        grid-template-columns: 25% 1fr;
        column-gap: 5px;
        align-items: center;
        width: 50%;
    }
    .computerpicture,.playerpicture {
        height: 90%;
        width: 90%;
        vertical-align: middle;
        border-radius: 50%;
        transition: 0.15s;
    }
    .computerpicture:hover,.playerpicture:hover {
        opacity: 0.8;
        box-shadow: 0 0 5px #fff;
    }
    .computermove,.playermove {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 38px;
    }
    .results {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
    }
    .wins,.losses,.ties {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 38px;
        margin: 0;
    }
    .tellp,.tellc {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .emoji {
        height: 100px;
    }  
    .godark {
        font-size: 35px;
        padding: 5px 10px;
        border-radius: 30px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        transition: 0.15s;
    }  
    .godark:hover {
        opacity: 0.8;
        transform: scale(1.1);
    }
    .godark:active {
        opacity: 0.9;
        transform: scale(0.9);
    }
    .golight {
        font-size: 35px;
        padding: 5px 10px;
        border-radius: 30px;
        background-color: #fff;
        color: black;
        cursor: pointer;
        transition: 0.15s;
    }  
    .golight:hover {
        opacity: 0.8;
        transform: scale(1.1);
    }
    .golight:active {
        opacity: 0.9;
        transform: scale(0.9);
    }
}
@media (max-width:739px) {
    .playspace{
        display: grid;
        grid-template-rows: 50% 1fr;
        row-gap: 10px;
        background-image: url(bg.png);
        border-radius: 10px;
        background-size: 70px 70px;
        height: 97vh;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        
        border-radius: 10px;
        padding: 50px;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        justify-content: space-between;
        
    }
    .rock {
        background-image: url(rock.png);  
        border-radius: 50%;
        background-size: cover;
        aspect-ratio: 1 / 1;
        width: 20%;
        border: solid 1px;
        transition: 0.15s;
    }
    .paper {
        aspect-ratio: 1 / 1;
        background-image: url(paper.png);
        border-radius: 50%;
        background-size: cover;
        width: 20%;
        border: solid 1px;
        transition: 0.15s;
    }
    .scissors {
        aspect-ratio: 1 / 1;
        background-image: url(scissors.png);
        background-size: cover;
        border-radius: 50%;
        width: 20%;
        border: solid 1px;
        transition: 0.15s;
    }
    .restart {
        aspect-ratio: 1 / 1;
        background-image: url(restart.png);
        border-radius: 50%;
        background-size: cover;
        width: 20%;
        border: solid 1px;
        transition: 0.15s;
    }
    
    .rock:active,.paper:active,.scissors:active,.restart:active {
        opacity: 0.9;
        transform: scale(0.85);
    }
    .score {
        background-color: rgb(185, 185, 185);
        display: grid;
        grid-template-rows: 85% 1fr;
        row-gap: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vs {
        
        display: flex;
        flex-direction: column;
        
        padding-left: 5px;
        padding-right: 5px;
    }
    .computer,.player {
        display: grid;
        grid-template-columns: 25% 1fr;
        column-gap: 5px;
        align-items: center;
    }
    .computerpicture,.playerpicture {
        height: 90%;
        width: 90%;
        vertical-align: middle;
        border-radius: 50%;
        transition: 0.15s;
    }
    .computerpicture:active,.playerpicture:active {
        opacity: 0.8;
        box-shadow: 0 0 5px #fff;
    }
    .computermove,.playermove {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 28px;
    }
    .results {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: space-between;
    }
    .wins,.losses,.ties {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 100%;
        margin: 0;
    }
    .tellp,.tellc {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .emoji {
        height: 50px;
    }  
    .godark {
        font-size: 130%;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #333;
        color: #fff;
        border-width: 1px;
        transition: 0.15s;
    }  
    .godark:active {
        opacity: 0.9;
        transform: scale(0.9);
    }
    .golight {
        font-size: 130%;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #fff;
        color: black;
        border-width: 1px;
        transition: 0.15s;
    }  
    .golight:active {
        opacity: 0.9;
        transform: scale(0.9);
    }
}
@media  (max-width:550px){
    .playspace{
        display: grid;
        grid-template-rows: 50% 1fr;
        row-gap: 10px;
        background-image: url(bg.png);
        border-radius: 10px;
        background-size: 70px 70px;
        height: 97vh;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        
        border-radius: 10px;
        padding: 50px;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        justify-content: space-between;
        
    }
    .rock {
        background-image: url(rock.png);  
        border-radius: 50%;
        background-size: cover;
        aspect-ratio: 1 / 1;
        width: 20%;
        border: solid 1px;
        transition: 0.15s;
    }
    .paper {
        aspect-ratio: 1 / 1;
        background-image: url(paper.png);
        border-radius: 50%;
        background-size: cover;
        width: 20%;
        border: solid 1px;
        transition: 0.15s;
    }
    .scissors {
        aspect-ratio: 1 / 1;
        background-image: url(scissors.png);
        background-size: cover;
        border-radius: 50%;
        width: 20%;
        border: solid 1px;
        transition: 0.15s;
    }
    .restart {
        aspect-ratio: 1 / 1;
        background-image: url(restart.png);
        border-radius: 50%;
        background-size: cover;
        width: 20%;
        border: solid 1px;
        transition: 0.15s;
    }
    
    .rock:active,.paper:active,.scissors:active,.restart:active {
        opacity: 0.9;
        transform: scale(0.85);
    }
    .score {
        background-color: rgb(185, 185, 185);
        display: grid;
        grid-template-rows: 50%/*85%*/ 1fr;
        row-gap: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vs {
        
        display: flex;
        flex-direction: column;
        
        padding-left: 5px;
        padding-right: 5px;
    }
    .computer,.player {
        display: grid;
        grid-template-columns: 25% 1fr;
        column-gap: 5px;
        align-items: center;
    }
    .computerpicture,.playerpicture {
        height: 90%;
        width: 90%;
        vertical-align: middle;
        border-radius: 50%;
        transition: 0.15s;
    }
    .computerpicture:active,.playerpicture:active {
        opacity: 0.8;
        box-shadow: 0 0 5px #fff;
    }
    .computermove,.playermove {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 28px;
    }
    .results {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: space-between;
    }
    .wins,.losses,.ties {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 100%;
        margin: 0;
    }
    .tellp,.tellc {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .emoji {
        height: 50px;
    }  
    .godark {
        font-size: 130%;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #333;
        color: #fff;
        border-width: 1px;
        transition: 0.15s;
    }  
    .godark:active {
        opacity: 0.9;
        transform: scale(0.9);
    }
    .golight {
        font-size: 130%;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #fff;
        color: black;
        border-width: 1px;
        transition: 0.15s;
    }  
    .golight:active {
        opacity: 0.9;
        transform: scale(0.9);
    }
}